<!DOCTYPE html>
<html>
<head>
	<title>coba dulu</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<!-- my CSS -->
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<h1 style="border-bottom: solid">PLAYERS</h1>
				<h5>Bek : <%= bek%></h5>
				<h5>Pemain Tengah : <%= tengah%></h5>
				<h5>Penyerang : <%= penyerang%></h5>
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<td>NO.</td>
								<td>ID</td>
								<td>NAME</td>
								<td>BALLSKILL</td>
								<td>MENTAL</td>
								<td>PASSING</td>
								<td>PHYSICAL</td>
								<td>SHOOTING</td>
								<td>DEFENCE</td>
								<td>CLASS</td>
								<td>ACTION</td>


							</tr>
						</thead>
						<tbody>
							<% if (data) { %>
							<% for(var i = 0; i < data.length; i++) { %>
							<tr>
								<td><%= (i + 1) %></td>
								<td><%= data[i].id %></td>
								<td><%= data[i].name %></td>
								<td><%= data[i].ability1 %></td>
								<td><%= data[i].ability2 %></td>
								<td><%= data[i].ability3 %></td>
								<td><%= data[i].ability4 %></td>
								<td><%= data[i].ability5 %></td>
								<td><%= data[i].ability6 %></td>
								<td><%= data[i].kelas %></td>
								<td>
									<a class="btn btn-primary" href="/knn" data-target="activity">EDIT</a>

									<a class="btn btn-danger" href="/editplayer/<%= data[i].id %>">DELETE</a>
								</td>
							</tr>
							<% } %>
							<% } %>
						</tbody>
					</table>
</body>
</html>